/* Designing top header */
#header {
  position: sticky;
  top: 0;
  z-index: 1;
}

#top-header {
  background: #1d3c5c;
  color: white;
  margin: auto;
  border: 10px white;
  border-radius: 25px;
  display: flex;
  padding: 15px 25px;
  box-shadow: 0px 7px rgb(182, 182, 182);
}

#top-header .current-contributor-rank {
  flex: 50%;
  text-align: left;
  font-size: 18px;
}

#top-header .search {
  position: relative;
}

#top-header .search input {
  width: 300px;
  height: 30px;
  border-radius: 15px;
  padding: 0px 10px;
}

#top-header .search .searchButton {
  background: white;
  position: absolute;
  border: none;
  /* height : 23px; */
  border-radius: 10px;
  top: 9px;
  left: 2px;
  cursor: pointer;
  /* background: black; */
}

#top-header .search .searchButton:focus {
  outline: none;
}

#top-header .search .searchButton .fa {
  width: 20px;
  height: 20px;
}

/* Designing bottom header */

#header #bottom-header {
  display: flex;
  width: 92%;
  margin: auto;
  background: #1d3c5c;
  padding: 5px 20px 20px;
  color: white;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 0px 7px rgb(182, 182, 182, 0.5);
}

#header #bottom-header div {
  margin: 0px 0px 10px 0px;
  flex: 25%;
}
