.right-details-block-heading-description-container {
    margin-left: 2vw;
    margin-top: 2vh;
}

.right-details-block-heading {
    font-family: 'Montserrat';
    font-size: 1.5vw;
    font-weight: 800;
}

.right-details-block-description {
    display: flex;
    font-size: 1vw;
    font-family: 'Prompt';
    font-weight: 500;
}

.right-details-block-description > p { 
    margin-left: 0.3vw;
    font-size: 1vw;
    font-family: 'Prompt';
    font-weight: 600;
}

.right-details-block-videos {
    display: inline-block;
    margin: 1vw;
    overflow: hidden;
    z-index: 1;
    border-radius: 25px;
}

.right-details-block-videos-container {
    overflow: auto;
    white-space: nowrap;
    width: 60vw;
    height: 45vh;
    overflow: scroll;
    overflow-y: hidden;
    border-radius: 15px;
    background-color: #05386B;
    transition: all 1.5s;
}
.right-details-block-videos-container:hover {
    background-color: #78EFBA;
}

.right-details-block-article-container {
    border-radius: 20px;
    margin-top: 2vh;
    overflow: scroll;
    overflow-x: hidden;
    height:42vh;
    width:61vw;
    background-color: #05386B;
    transition: all 1.5s;
}
.right-details-block-article-container:hover {
    background-color: #78EFBA;
}

.right-details-block-profilepage-articles-block {
    border-radius: 10px;
    padding:1vw; 
    margin: 0.8vw;
    font-family: 'Montserrat';
    font-weight: 600;
    max-width: 11.3vw;
    display: inline-block;
    color: black;
    background-color: white;
}

/* scroll bar css */
::-webkit-scrollbar {
    display:none;
  }