.signup__card {
    display: flex;
}
.signup-container {
    z-index: 1;
    position: relative;
    display:flex;
    width: 33.5vw;
    height: 84vh;
    margin-left: 33vw;
    margin-top: 20vh;
    background: url('../../image_assets/login-signup/SignupCardBackground.svg');
}


.create__newaccount {
    display: flex;
}

.login-signin-button-text {
    color:black;
    transform: rotate(90deg);
    transition: font-weight 1.5s;
}

.login-signin-button-text:hover {
    font-weight: bold;
}

.app {
    height: 100vh;
}

.signup-card-green-dot-1 {
    z-index: 2;
    margin-top: 1vh;
    margin-right: -7.8vw;
    width: 150px;
    height: 150px;
    background: #62F2AD;
    border-radius: 13px 0 150px 0;
    -moz-border-radius: 13px 0 150px 0;
    -webkit-border-radius: 13px 0 150px 0;
}

.signup-card-green-dot-2 {
    width: 100px;
    height: 50px;
    background: #62F2AD;
    border-radius: 100px 100px 0 0;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    
}

.signup-card-green-dot-3 {
    margin-left: 26.15vw;
    margin-top: -25vh;
    width: 3vw;
    height: 15vh;
    background: #62F2AD;
    border-radius: 100px 0 0 100px;
    -moz-border-radius: 100px 0 0 100px;
    -webkit-border-radius: 100px 0 0 100px;
}

.login-signin-button-container {
    position: relative;
    /* left: 0; */
    /* padding:0; */
    margin-bottom: 5vh;
    /* justify-content: space-between; */
    display:flex;
    flex-direction: column;
    margin-left: -1.6vw;
    /* margin-right: vw; */
}

.login-button {
    text-align: center;
    justify-content: center;
    background-color: #F2F2F2;
    /* cursor: pointer; */
    padding: 2vh;
    margin-bottom: 3.1vw;
    text-decoration: none;
    border-radius: 5px 5px 0px 0px;
    transition: all 1.5s;
}

.login-button:hover {
    background-color: #62F2AD;
}

.signin-button {
    background-color: white;
    text-align: center;
    justify-content: center;
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
    padding: 2vh;
    width: 4vw;
    text-decoration: none;
    transition: all 1.5s;
}

.signin-button:hover {
    background-color: #62F2AD;
}

.girl-with-laptop {
    width:6.5vw;
    height: 30vh;
    position: absolute;
    z-index: 2;
    margin-left: 61vw;
    margin-top: -19vh;
}

.signup-linkedin-github-google-facebook {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.signup-items-position {
    margin-left: 5vw;
    justify-content: center;
    align-items: center;
}

.signup-footer {
    margin-top: 5vh;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-footer > div > a {
    margin: 0.5vw;
}

.signup-linkedin-github-google-facebook > div > button {
    box-shadow: 0px 0px 0px 0px white !important;
}

.signup-linkedin-github-google-facebook > span {
    background-color: black;
    height: 6vh;
    width: 0.01vw;
}

.sign-up-using {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-weight: 700;
}

.sign-up-using > span{
    height: 0.01vw;
    background-color: black;
    width: 4vw; 
}